header.header 
	.container
		.main-img
			.main-img__box
				img(src="source/img/main/main.jpg" class="main-img__picture" alt="")
		.logo
			.logo__img
				img(src="source/img/header/logo.jpg" alt="")
		.menu
			ul.menu__list
				li
					a.menu__link(href="") Individuals
				li
					a.menu__link(href="") Companies
				li
					a.menu__link(href="") The Studio
				li
					a.menu__link(href="") About Us
				li
					a.menu__link(href="") Blog
		.button
			.button__container
				a.button__book(href="") Book now
		.social
			ul.social__list
				li.social__item
					a(href="")
						img(src="source/img/header/icon.jpg" alt="")
				li.social__item
					a(href="")
						img(src="source/img/header/icon2.jpg" alt="")
				li.social__item
					a(href="")
						img(src="source/img/header/icon3.jpg" alt="")
				li.social__item
					a(href="")
						img(src="source/img/header/icon4.jpg" alt="")
				li.social__item
					a(href="")
						img(src="source/img/header/icon5.jpg" alt="")
