section.sessions-and-map
	.container-s
		section.individual
			.logo-sess
				.logo-sess__img
				img(src="source/img/main/icon2_1.jpg" alt="")
			.title
				.title__box
					h2.title__text Individual sessions
			div.kind-of-session
				div.kind-of-session__list
					div.kind-of-session__numb
						img(src="source/img/main/number1.png" alt="")
					div.kind-of-session__text Studio Sessions
				div.kind-of-session__list
					div.kind-of-session__numb
						img(src="source/img/main/number2.png" alt="")
					div.kind-of-session__text Outdoor Sessions
				div.kind-of-session__list
					div.kind-of-session__numb
						img(src="source/img/main/number3.png" alt="")
					div.kind-of-session__text In-Office Sessions
			.button-sess 
				.button-sess__box
					a.button-sess__carcass See More
		section.companies
			.logo-sess
				.logo-sess__img
				img(src="source/img/main/icon2_2.jpg" alt="")
			.title
				.title__box
					h2.title__text.title__text_color Companies sessions
			div.kind-of-session
				div.kind-of-session__list.kind-of-session__list_bcolor
					div.kind-of-session__numb.kind-of-session__numb_offset
						img(src="source/img/main/number_2_1.png" alt="")
					div.kind-of-session__text.kind-of-session__text_font Studio Sessions
				div.kind-of-session__list.kind-of-session__list_bcolor
					div.kind-of-session__numb.kind-of-session__numb_offset
						img(src="source/img/main/number_2_2.png" alt="")
					div.kind-of-session__text.kind-of-session__text_font Outdoor Sessions
			.button-sess 
				.button-sess__box_upoffset
					a.button-sess__carcass(href="") See More
		section.map
			.map-box 
				img(src="source/img/main/map.jpg" alt="")



			//- use

