section.tips 
	.container-tips 
		.headshots 
			.container-hs
				.headshots__box
					h1.headshots__title Why are headshots important?
					p.headshots__text It may not seem indispensable, Lorem, ipsum dolor sit amet consectetur adipisicing elit. Lorem40 Voluptates perspiciatis iste nostrum atque itaque! Officia quasi ut quas qui culpa sint at esse. Eveniet iusto consequatur quidem vitae tempore a! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio, quo maxime. Quod laudantium similique delectus? but Lorem ipsum dolor sit amet consectetur adipisicing elit.
		.five-tips 
			.container-ft
				h2.five-tips__title 5 Useful Tips 
				.five-tips__reveal-tips.reveal-tips
					.container-rt 
						.reveal-tips__box 
							.reveal-tips__img 
								img(src="source/img/main/icon3_1.jpg" alt="")
							p.reveal-tips__text Go professional, it's worth it, because cheap looks cheap
						.reveal-tips__box 
							.reveal-tips__img 
								img(src="source/img/main/icon3_2.jpg" alt="")
							p.reveal-tips__text It’s all about the eyes and what’s behind them.
						.reveal-tips__box 
							.reveal-tips__img 
								img(src="source/img/main/icon3_3.jpg" alt="")
							p.reveal-tips__text Make sure it looks like you, tnot like you want to be.
						.reveal-tips__box 
							.reveal-tips__img 
								img(src="source/img/main/icon3_4.jpg" alt="")
							p.reveal-tips__text Control framing, lighting & background.
						.reveal-tips__box 
							.reveal-tips__img 
								img(src="source/img/main/icon3_5.jpg" alt="")
							p.reveal-tips__text Stay chill with clothing & makeup, you must be you.
		.headshot-ser 
			.container-hsser 
				.headshot-ser__arrow 
					img(src="source/img/main/arrow2.jpg" alt="")

				.headshot-ser__box 
					h2.headshot-ser__title Professional Headshot Services
					p.headshot-ser__text Studio Inc is maecenas vulputate, sem at auctor vulputate, elit nunc sagittis ligula, vitae pulvinar metus elit in ante. Aenean tincidunt erat ac ante placerat facilisis. Fusce sed ligula tortor. Quisque non dignissim erat. Vestibulum ante ipsum primis in faucibus.</p>
					p.headshot-ser__text Covid-19 Update: We are open for studio, office, and outdoor sessions. For more information on our safety procedures, visit <span>Studio Covid-19 Guidelines.</span>
