section.services
	.container-pro-s
		.main-title
			h1.main-title__pro Our professional services
		.menu-pro
			ul.menu-pro__list
				li.menu-pro__item
					a.menu-pro__link(href="") All
				li.menu-pro__item
					a.menu-pro__link(href="") Modeling
				li.menu-pro__item
					a.menu-pro__link(href="") Acting
				li.menu-pro__item
					a.menu-pro__link(href="") Corporate
				li.menu-pro__item
					a.menu-pro__link(href="") Business
				li.menu-pro__item
					a.menu-pro__link(href="") Professional
				li.menu-pro__item
					a.menu-pro__link(href="") Group
				li.menu-pro__item
					a.menu-pro__link(href="") Company
				li.menu-pro__item
					a.menu-pro__link(href="") Officer
		.slide-show
			.container-ss
				.slide-show__left-arrow
					a(href="")
						img(src="source/img/main/leftarrow.png" alt="")
				.slide-show__main-img 
					img(class="slide-show__img_big-one" src="source/img/main/peple5.jpg" alt="")
				.slide-show__right-arrow
					a(href="")  
						img(src="source/img/main/rightarrow.png" alt="")
				.slide-show__top-left-img
					a(href="").slide-show__top-left-img.slide-show__top-left-img_button Company
					a(href="").slide-show__top-left-img.slide-show__top-left-img_link Check service
					img(class="slide-show__img" src="source/img/main/peple1.jpg" alt="")
				.slide-show__top-right-img 
					img(class="slide-show__img" src="source/img/main/peple2.jpg" alt="")
				.slide-show__center-left-img 
					img(class="slide-show__img" src="source/img/main/peple3.jpg" alt="")
				.slide-show__center-right-img 
					img(class="slide-show__img" src="source/img/main/peple4.jpg" alt="")
