include mixins
doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		link(rel='stylesheet' href='source/main.min.css')
		title Document
	body
	<script src="source/script.js"></script>
		<div>Waw!</div>
		//-.wrapper
		//-include common.blocks/header/header
		//-main
		//-include common.blocks/sessions-and-map/sessions-and-map
		//-include common.blocks/services/services
		//-include common.blocks/tips/tips
