@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@font-face {
	font-family: 'Conv_Tahu!';
	src: url('fonts/Tahu!.eot');
	src: local('☺'), url('fonts/Tahu!.woff') format('woff'), url('fonts/Tahu!.ttf') format('truetype'), url('fonts/Tahu!.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@import 'nullstyle.scss';
@import 'common.blocks/**/*.scss';
//@import "generic/**/*.scss";
//@import "../components/**/*.scss";
//@import "../views/**/*.scss";
//@import "../views/**/*something.scss";
//@import "../views/**/all.scss";

